header {
    position: relative;
    font-family: "Dancing Script", cursive;
}

.Navbar {
    margin: 0 0 1rem 0.2rem;
    height:2.5rem;
    width: 100%;

}

header::after {
    content: '';
    position: absolute;
    width:8rem;
    height: 0.2rem;
    background: linear-gradient(90deg, rgba(235, 225, 225, 1) 0%, rgba(144, 144, 212, 1) 43%, rgba(0, 170, 212, 1) 77%, rgba(61, 194, 242, 1) 93%);
    border-radius: 0.3rem;
}

header::before {
    content: '';
    position: absolute;
    width: 4rem;
    bottom: -10px;
    height: 0.2rem;
    background: linear-gradient(90deg, rgba(235, 225, 225, 1) 0%, rgba(144, 144, 212, 1) 43%, rgba(0, 170, 212, 1) 77%, rgba(61, 194, 242, 1) 93%);
    border-radius: 0.3rem;
}

.Card-block {
    background: var(--block-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: transform 0.3s ease;
    border: 0.5rem;
    width: 100%;
}

.highlighted {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--highlight-color);
    font-family: "Dancing Script", cursive;
    transition: all 0.5s ease-in-out;
    position: relative;
    font-weight: bold;
}

.highlighted::after {
    content: '';
    position: absolute;
    width:100%;
    bottom: 0;
    left: 0;
    height: 0.1rem;
    background: linear-gradient(90deg, rgba(235, 225, 225, 1) 0%, rgba(144, 144, 212, 1) 43%, rgba(0, 170, 212, 1) 77%, rgba(61, 194, 242, 1) 93%);
    border-radius: 0.3rem;
}

.Card-block img {
    width: 100%;
    border-radius: 0.5rem;
}

.Home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
    margin: 1rem;
}
.Search-block
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}
.Search-block h2{
    margin-bottom: 0.5rem;
}
.Search-block input {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid var(--outline-color);
    width: 100%;
    background: var(--block-color);
}