@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;

}
:root {
 --primary-color: #2b2a33;
  --secondary-color: #a0d2eb;
  --accent-color:	#DAF7A6;
  --text-color: #ffffff;
  --border-color: #a39274;
}
body {
  background-color:var(--primary-color);
  color: #333;
  font-size: 16px;
  overflow-x:hidden;
  width:100%;
}
h1, h2, h3 {
  color: var(--accent-color);
  font-family: "Playfair", serif;
}
p {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0.5rem 0;
}
li{
  list-style:none;
}
header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}
ul{
  display: flex;
  justify-content:center;
  align-items: center;
  gap:1rem;
}
ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition:.5s ease;
  position: relative;
  color: var(--accent-color);
}
li a::after {
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  bottom:0;
  left: 0;
  transition: transform .3s ease;
}
li a:hover::after {
  transform: scaleX(1);
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:0 0.5rem 0 0.5rem;
  padding-top: 4rem;
}
.info-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-coding-chart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:50%;
  padding:0.5rem;
  border-radius:1rem;
  border-bottom:0.09rem solid var(--border-color);
  border-left:0.09rem solid var(--border-color);

}
.ColorCoding-info-block h3{
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.Color-Coding-table{
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  border: 1px solid var(--border-color);
}
td, th {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--border-color);
}
td {
  background-color: var(--primary-color);
}
th {
  background-color: var(--secondary-color);
  color: var(--text-color);
}