@import "tailwindcss";

.span-style {
    @apply bg-gray-700 text-white px-2 py-1 rounded-md;
}

.span-style2 {
    @apply border-2 border-gray-600 text-white px-2 py-1 rounded-md hover:bg-amber-500 hover:border-amber-500;
}